@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html{
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #F2F2F2;
}

body{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  font-family: "PT Sans", sans-serif;
  background-color: #fff;
  font-style: normal;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.navigation{
  display: flex;
}

.nav-list{
  margin: 0 auto;
  padding: 0;
  width: 310px;
  margin-left: auto;
}

.page-header a{
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.logo{
  width: 138px;
}

.nav-user{
  width: 250px;
  margin-left: auto;
}

.button{
  font-family: "PT Sans", sans-serif;
  background-color: #756257;
  border: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
}

.button-nav-link{
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.main-container{
  flex-grow: 1;
}

.main-index{
  color: #000;
  text-align: center;
}

.main-inner{
  text-align: left;
  color: #000;
}

.page-container{
  margin: 0 auto;
  padding: 0;
}

.welcome-part{
  background-image: url(../img/index/canyon.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

img.welcome{
  display: block;
  margin: 0 auto;
  width: 458px;
  margin-bottom: 29px;
}

.u-welcome{
  width: 720px;
  margin: 0 auto;
}

.under-welcome{
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.under-welcome-description{
  font-size: 22px;
  line-height: 36px;
  color: #333;
}

.advantages-list{
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-item{
  width: 400px;
}

.advantages-item p{
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.advantages-item h3{
  font-size: 24px;
  line-height: 28px;
}

.background-color1{
  background-color: #83B3D3;
  color: #fff;
}

.background-color1 p{
  color: #fff;
}

.background-color2{
  background-color: rgba(131, 179, 211, 0.12);
}

.background-color3{
  background-color: rgba(131, 179, 211, 0.2);
}

.hotel-search{
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  width: 720px;
  margin: 0 auto;
}

.under-advantages{
  font-size: 30px;
}

.under-advantages-description{
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  text-transform: none;
}

.button-hotel-src{
  font-size: 20px;
  font-weight: bold;
}

.subscribe-index{
  background-image: url(../img/index/canyon-blur.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
}

.u-subscribe-container{
  width: 720px;
  margin: 0 auto;
}

.under-subscribe{
  font-size: 30px;
  line-height: 36px;
}

.under-subscribe-description{
  font-size: 22px;
  text-transform: none;
}

.subscribe-form input{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
}

.button-submite {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
}

.page-footer{
  display: flex;
  justify-content: space-between;
}

address a{
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-weight: normal;
}

.catalog-container{
  background-image:url(../img/catalog/catalog-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #fff;
  text-align: left;
}

.inner-header-title{
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title{
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

.control-label{
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-group{
  border: none;
}

.apply-filter{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  background-color: #83B3D3;
  border: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-weight: bold;
}

.reset-filter{
  font-family: "PT Sans", sans-serif;
  border: none;
  background-color:transparent;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.search-results{
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  text-transform: uppercase;
}

.select-control{
  font-size: 18px;
  line-height: 23px;
}

.hotel-list a{
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

h3.hotel-card-title{
  font-size: 24px;
  line-height: 31px;
}

.housing-details{
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #333;
}

a.more-details-button{
  background-color: #756257;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
}

.favorites-button{
  background-color: #83B3D3;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
}

.in-favorites{
  background-color: #7DB54F;
}

.pagination-show-more{
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #83B3D3;
  border: none;
  color: #fff;
}

.pagination-link{
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  background-color: #83B3D3;
  color: #fff;
  text-decoration: none;
}

.pagination-link-current{
  background-color: #F2F2F2;
  color: #000;
}

.sorting-type,
.amt-control{
  font-size: 18px;
  line-height: 23px;
}

.subscribe-catalog{
  background-image: none;
  color: #000;
  text-align: center;
}
